<div class="container">

    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                {{commentElement.authorName}}
            </mat-card-title>
            <mat-card-subtitle>
                {{commentElement.title}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            {{commentElement.content}}
        </mat-card-content>
        <mat-card-actions>
            <div class="actions" *ngIf="this.service.isLogged()">
                <div class="commClass">
                    <button mat-raised-button color="primary">Comment</button>
                </div>
                <div class="manipulClass" *ngIf="myComment">
                    <button mat-raised-button color="warn">Delete</button>
                    <button mat-raised-button color="accent">Update</button>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
</div>