.card {
    min-width: 100%;
    background-color: rgb(98, 98, 98);
    display: flex;
    /* align-items: center; */
}

.actions {
    display: flex;
}

.commClass {
    justify-content: center;
    display: flex;
    flex-grow: 1;
}

.manipulClass {
    justify-content: flex-end;
    display: flex;
    flex-grow: 1;
}

textarea {
    background-color: rgb(189, 189, 189);
    color: black;
}

mat-form-field {
    display: block;
    text-align: center;
}

.uploader-status {
    display: flex;
    justify-content: center;
}

.uploader-status ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: white;
}