<div class="spinnerCLass">
    <mat-spinner     *ngIf="loading; else doneLoad"    ></mat-spinner>
</div>
<ng-template #doneLoad>


    <div class="container">
        <mat-card>
            <mat-card-content>
              <div *ngIf="!updating; else changing">
                <p> name: {{user.name}}</p>
                <br>
                <p> email: {{user.email}}</p>
                <br>
                <p> password: {{user.password}}</p>
                <br>
                <p> Job status: {{user.jobstatus}}</p>
              </div>
              <ng-template #changing>
               
                <div class="formInputs">
                  <mat-form-field>
                    <mat-label>
                        Name
                    </mat-label>
                    <input
                    [formControl]="nameControl"
                    matInput
                    placeholder="{{user.name}}"
                    >
                    <mat-error *ngIf="nameControl.touched">
                        <mat-error *ngIf="nameControl.errors && nameControl.errors['minlength']">
                            Name must be at <strong>least 2 characters</strong> long
                        </mat-error>
                    </mat-error>
                </mat-form-field>
  
  
                  <mat-form-field>
                    <mat-label>
                        Email
                    </mat-label>
                    <input
                    [formControl]="emailControl"
                    matInput
                    placeholder="{{user.email}}"
                    >
                    <mat-error *ngIf="emailControl.touched">
                        <mat-error *ngIf="emailControl.errors && emailControl.errors['email']">
                          Email must have <strong>valid Form</strong>
                      </mat-error>
                    </mat-error>
                </mat-form-field>
  
                <mat-form-field>
                  <mat-label>
                      Password
                  </mat-label>
                  <input
                  [formControl]="passwordControl"
                  matInput
                  placeholder="{{user.password}}"
                  [type]="hide ? 'password':'text'" 
                          >
                          <mat-icon matSuffix (click)="hide = !hide">
                              {{hide ? 'visibility' : 'visibility_off'}}
                            </mat-icon>
                  <mat-error *ngIf="passwordControl.touched">
                      <mat-error *ngIf="passwordControl.errors && (passwordControl.errors['minlength'] || passwordControl.errors['maxlength'])">
                        Password must be at <strong>least 6 characters</strong> long and <strong>shorter then 16</strong> characters
                    </mat-error>
                  </mat-error>
              </mat-form-field>
  
              <mat-form-field>
                <mat-label>
                    Job Status
                </mat-label>
                <input
                [formControl]="jobStatusControl"
                matInput
                placeholder="{{user.jobstatus}}"
                >
                <mat-error *ngIf="jobStatusControl.touched">
                    <mat-error *ngIf="jobStatusControl.errors && jobStatusControl.errors['minlength']">
                      Job status must be at <strong>least 2 characters</strong> long
                  </mat-error>
                </mat-error>
            </mat-form-field>
                </div>

              </ng-template>
                <br>
                <div *ngIf="!updating" class="btn btn-primary" (click)="updating=!updating">Change informations</div>
              <div *ngIf="updating" class="divButtons">
                <div class="btn btn-secondary" (click)="cancelChanges()">Cancel</div>
                <div class="btn btn-primary" (click)="saveChanges()">Save</div>
              </div>
              <br>
                    <div *ngIf="errorMess"  class="alertDialog">
                        <div class= "alert alert-danger">
                           {{errorMess}} 
                           <button class="btn btn-danger" (click)="errorMess=null">Ok</button>

                        </div>
                    </div>
                    <div *ngIf="completeSucc"  class="alertDialog">
                      <div class= "alert alert-success">
                         {{completeSucc}} 
                         <button class="btn btn-success" (click)="completeSucc=null">Ok</button>
                      </div>
                  </div>
            </mat-card-content>
        </mat-card>


    <mat-accordion>
        <mat-expansion-panel >
              <mat-expansion-panel-header>
                <!-- <mat-panel-title>
                  Self aware panel
                </mat-panel-title> -->
                <mat-panel-description>
                  Knowledges
                </mat-panel-description>
              </mat-expansion-panel-header>


              <div *ngFor="let know of user.knowledges; let i = index">
                <br>
                <p class="knowledges"><mat-icon style="margin-right: 5px;" (click)="removeKnow(i)">remove_circle</mat-icon>                  {{know}}</p>
                </div>
                  
                  
                  <div *ngIf="addingKnowledge">
                    <br>
                    <mat-form-field>
                      <mat-label>
                          New knowledge
                      </mat-label>
                      <input
                      [formControl]="addKnowledgeControl"
                      matInput
                      placeholder="type brief name of new knowledge"
                      >
                      <mat-error *ngIf="addKnowledgeControl.touched">
                     
                          <mat-error *ngIf="addKnowledgeControl.errors && addKnowledgeControl.errors['minlength']">
                            New knowledges must be at <strong>least 2 characters</strong> long
                        </mat-error>
                      </mat-error>
                  </mat-form-field>
                  <button mat-icon-button  [disabled]="addKnowledgeControl.errors || newKnow.length===0" (click)="addKnow()">
                    <mat-icon  style="margin-right: 5px;">
                      {{(addKnowledgeControl.errors || newKnow.length===0) ? 'check_circle_outline' : 'check_circle'}}</mat-icon>                 
                    </button>
                  </div>
                  <br>
                  <mat-icon style="margin-right: 5px;" (click)="addingKnowledge = !addingKnowledge">
                    {{addingKnowledge ? 'remove_circle' : 'add_circle'}}</mat-icon>
                  
                  <br>


                  <div class="btn btn-primary" (click)="saveKnowledges()">Save</div>
            </mat-expansion-panel>
          </mat-accordion>

          <div class="forBtn">
            <div class="btn btn-primary" (click)="logOut()">LogOut</div>
          </div>

    </div>
    <br>

</ng-template>