mat-card {
    display: flex;
    justify-content: center;
}

mat-accordion {
    display: flex;
    justify-content: center;
}

mat-form-field {
    margin-bottom: 15px;
}
.mat-expansion-panel {
    width: 100%;
}
.forBtn {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.spinnerCLass {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.formInputs {
    display: flex;
    flex-flow: column;
}
.divButtons {
    display: flex;
    justify-content: space-between;
}
.alertDialog {
    margin: 15px;
}
