mat-card {
    display: flex;
    justify-content: center;
}

mat-accordion {
    display: flex;
    justify-content: center;
}

.mat-expansion-panel {
    width: 100%;
}

.spinnerCLass {
    display: flex;
    justify-content: center;
    margin: 15px;
}