
<div class="spinnerCLass">
    <mat-spinner *ngIf="loading; else doneLoad"></mat-spinner>

</div>
<ng-template #doneLoad>


    <div class="container">
        <mat-card>
            <mat-card-content>
                <p> name: {{user.name}}</p>
                <br>
                <p> email: {{user.email}}</p>
                <br>
                <p> Job status: {{user.jobstatus}}</p>
            </mat-card-content>
        </mat-card>
        

    <mat-accordion>
        <mat-expansion-panel >
              <mat-expansion-panel-header>
                <!-- <mat-panel-title>
                  Self aware panel
                </mat-panel-title> -->
                <mat-panel-description>
                  Knowledges
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div *ngFor="let know of user.knowledges">
                <br>
                <p> {{know}}</p>
                </div>
            </mat-expansion-panel>
          </mat-accordion>
    </div>
    <br>

</ng-template>


