<div class="container">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <mat-card class="card" *ngIf="!loading">
        <mat-card-header>
            <mat-card-title>  
                      {{openIssue.title}}
            </mat-card-title>
            <mat-card-subtitle (click) = "visitUserAccount()">
                {{openIssue.authorData.name}} : {{openIssue.authorData.jobStatus}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            {{openIssue.content}}
        </mat-card-content>
        <mat-card-actions *ngIf="this.service.isLogged()">
            <button mat-button (click)="addComment=!addComment">Comment</button>
        </mat-card-actions>
    </mat-card>
    <br>
</div>
<app-comment-issue *ngIf="addComment" (completedComm)="saveComment($event)" (closeWindowEmit)="addComment=$event"></app-comment-issue>
<div class="container">
    <mat-spinner *ngIf="loadingComments"></mat-spinner>
</div>
<app-reaction *ngFor="let comment of comments" [commentElement]= comment [issueID]="openIssue.idDoc"></app-reaction>

