.card {
    min-width: 60%;
    background-color: rgb(98, 98, 98);
}

mat-card-subtitle {
    transition: 0.3s;
    padding: 5px;
    margin: 5px;
}

mat-card-subtitle:hover {
    border-radius: 10px;
    background-color: rgb(131, 131, 131);
    color: white;
    font-weight: bold;
}