.card {
    min-width: 60%;
    background-color: rgb(179, 179, 179);

}
/* mat-card-header {
    background-color: #424242;
}
mat-card-content {
    background-color: #424242;

}
mat-card-actions {
    background-color: #424242;

} */