<nav class="navSecond">
    <button class="btn btn-secondary" routerLink="newIssue">Add Issue</button>
</nav>

<div class="container">
    <app-issue
    *ngFor ="let issue of issueArray" 
    [data]="issue"
    (readIssue)="changeState($event)"
    ></app-issue>

    <div class="uploader-status">
        <mat-spinner *ngIf="loading"></mat-spinner>
        <div *ngIf="error" class="row mt-4">
            <div class="col-12">
                <div class="row">
                    <div class= "alert alert-danger">
                       {{error}}
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
