<form [formGroup]="registerForm" class="normal-form" (ngSubmit)="onRegisterSubmit()">
    <mat-grid-list cols="1">
        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field>
                    <mat-label>
                        Name
                    </mat-label>
                    <input 
                        formControlName="name"
                        matInput
                        placeholder="Enter here your name"
                        >
                        <mat-hint>HINT: Name must have at least 2 characters</mat-hint>
                        <mat-error *ngIf="registerForm.get('name').touched">
                            <mat-error *ngIf="registerForm.get('name').errors && registerForm.get('name').errors['required']">
                                Name is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="registerForm.get('name').value.length < 2 ">
                                Name must have at least <strong>2</strong> characters
                            </mat-error>
                        </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>
                        Email
                    </mat-label>
                    <input 
                        formControlName="email"
                        matInput
                        placeholder="Enter here your email"
                        >
                        <mat-error *ngIf="registerForm.get('email').touched">
                            <mat-error *ngIf="registerForm.get('email').errors && registerForm.get('email').errors['required']">
                                Email is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="registerForm.get('email').errors && registerForm.get('email').errors['email']">
                                Email must have correct <strong>form</strong>
                            </mat-error>
                        </mat-error>
                </mat-form-field>
                <ng-container formGroupName="passwordGroup">
                    <mat-form-field>
                        <mat-label>
                            Password
                        </mat-label>
                        <input 
                            formControlName="passwordFirst"
                            matInput
                            placeholder="Enter here your password"
                            [type]="hide ? 'password':'text'" 
                            >
                            <mat-icon matSuffix (click)="hide = !hide">
                                {{hide ? 'visibility' : 'visibility_off'}}
                              </mat-icon>
                              <mat-hint>HINT: Your password must have at minimum 6 characters and less then 15 characters</mat-hint>

                              <mat-error *ngIf="registerForm.get('passwordGroup.passwordFirst').touched">
                                <mat-error *ngIf="registerForm.get('passwordGroup.passwordFirst').errors && registerForm.get('passwordGroup.passwordFirst').errors['required']">
                                    Password is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="registerForm.get('passwordGroup.passwordFirst').value.length < 6 || registerForm.get('passwordGroup.passwordFirst').value.length > 15 ">
                                    Password must have at least 6 characters and maximum 15 characters
                                </mat-error>
                            </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>
                            Repeate Password
                        </mat-label>
                        <input 
                            formControlName="repeatPassword"
                            matInput
                            placeholder="Enter here same password again"
                            [type]="hide ? 'password':'text'" 
                            >
                            <mat-icon matSuffix (click)="hide = !hide">
                                {{hide ? 'visibility' : 'visibility_off'}}
                              </mat-icon>
                              <mat-hint>HINT:  Repeat your password for confirmation</mat-hint>
                              <mat-error *ngIf="registerForm.get('passwordGroup.repeatPassword').touched">
                                <mat-error *ngIf="registerForm.get('passwordGroup.repeatPassword').errors && registerForm.get('passwordGroup.repeatPassword').errors['required']">
                                    Repeate Password is <strong>required</strong>
                                </mat-error>
                            </mat-error>
                            <mat-error *ngIf="registerForm.get('passwordGroup').errors">
                                Mame nejaku chybu
                            </mat-error>
                    </mat-form-field>
                </ng-container>
                <hr>

                <button 
                mat-raised-button color="warn"
                [disabled]="registerForm.invalid"
                >Sign Up</button>
                <div *ngIf="errorAuth" class="row mt-4">
                    <div class="col-12">
                        <div class="row">
                            <div class=".col-12 alert alert-danger">
                               {{errorAuth}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
      
    </mat-grid-list>
</form>